@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   background: #f6f6f6;
}

.box{
   width: 350px;
   margin: 15px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: #1771e6;
   border-radius: 7px 7px 5px 5px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: "Rubik";
   margin: -7px; ;
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: rgb(116, 212, 107);
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
   color: black;
}

details p{
   color: white;

}

