
:root {
    --clr-gray-light: #d7dfe2;
    --clr-gray-med: #616b74;
    --clr-gray-dark: #414b56;
    --clr-link: #4d97b2;
    --clr-popular: #ef257a;
    --clr-technology: #651fff;
    --clr-psychology: #e85808;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    
  }



  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .title h1 {
    text-align: center;
    font-family: "Capriola", sans-serif;
    font-size: 3rem;
  }



  
  body {
    margin: 2rem;
    color: var(--clr-popular);
    background-color: #e1f8dc;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray-light);
    background: white;
    border-radius: 0.5rem;
    position: relative;
    height: 30rem;
    width: 18rem;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px var(--clr-gray-light);
  }
  
  .banner-img {
    position: absolute;
    object-fit: cover;
    height: 24rem;
    width: 18rem;
  }
  
  .category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: red;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .popular {
    background: var(--clr-popular);
  }
  
  .technology {
    background: var(--clr-technology);
  }
  
  .psychology {
    background: var(--clr-psychology);
  }
  
  .card-body {
    margin: 24rem 1rem 1rem 1rem;
   
  }
  .blog-description{
    color:rgb(0, 0, 0)
  }
  
  .blog-title{
    color:#da1c5b;
  }


  .button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 10px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
 